!!!
%html
  %head
    %meta{charset: 'UTF-8'}
    %title Atlas 2D
    %link{rel: 'stylesheet', href: 'css/main.css'}
    
    %link{rel: 'apple-touch-icon', href: 'ios-icon.png'}
    %meta{name: 'apple-mobile-web-app-capable', content: 'yes'}
    %meta{name: 'viewport', content: 'width=device-width,user-scalable=no'}
    
    %script{src: 'js/jquery-2.1.0.min.js'}
    %script{src: 'js/game.js'}
  %body
    #main
      %canvas#game
      #message-center
        %ul#messages
        #chatbox
          %input#chat-input{type: 'text'}
    #sidebar
      #sidebar-container
        %h3 Inventory
        #inventory.canvas-list
        .clearfix
        
        %h3 Recipes
        #recipes.canvas-list
        .clearfix
