* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body, input {
  font-family: sans-serif;
}

canvas {
  background: black;
  display: block;
}

.main {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  margin-right: 0;
  overflow: hidden;
}

.game {
  position: absolute;
  width: 100%;
  top: 0; bottom: 0;
  margin-bottom: 0;
}

.chat {
  position: absolute;
  bottom: 0;
  height: 0;
  background: green;
}

.sidebar {
  position: absolute;
  width: 0;
  right: 0; top: 0; bottom: 0;
  overflow: auto;
  background: #964B00;
}
